.App {
  text-align: left;
  margin: 20px;
  padding: 30px;
  font-family: Courier, monospace;
  font-size: large;
  font-weight: bold;
  background-image: url(/Users/anagomez/Downloads/kitchen.jpg);
  background-size: 1200;
}


.form{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #f2e6ff;
}

#sec{
  margin:30px;
}

.button{
  font-family: Andale Mono, monospace;
}

h2, p, .link{
  color: #f2e6ff;
  font-weight: bold;
}

