header {
    background-color: #ccffe6;
    color: black;
    padding: 20px;
    margin: 2px;
    text-align: center;
}

.nav-link {
    color:#990099;
    text-decoration: none;
}
.active {
    color: #cc99ff;
    font-weight: bolder;
}