header {
    background-color: F3F3E9;
    color: black;
    padding: 20px;
    margin: 2px;
    text-align: center;
}

.nav-link {
    color:#990099;
    text-decoration: none;
}
.active {
    color:#0398AE;
    font-weight: bolder;
}